[2016-09-12 07:40] lyn5466 opened #1 "About the installation"
I think the original command in the installation `cp -r ./node_modules/ghost-storage-adapter-s3 ./content/storage/s3` should change to `cp -r ./node_modules/ghost-storage-adapter-s3/index.js ./content/storage/s3`

[2016-09-12 07:46] colinmeinke commented on #1
Hey, thanks for the issue! The current command copies the whole directory and includes the `node_modules` it depends on).

[2016-09-12 07:46] #1 closed

[2016-09-12 07:49] colinmeinke commented on #1
@lyn5466 is it not working for you?

[2016-09-13 03:04] lyn5466 commented on #1
Hi,
Sorry for the late reply. I used the command, and got the error
`ERROR: We cannot find your adpter in: /app/content/storage or: /app/core/sever/storage`
But if I only copy your `index.js` into `/app/content/storage/s3/`, it works!
The following is the directory structure after typing your command.
By the way, what's difference to only copy the `index.js` into the `/app/content/storage/s3/`?
Ju

[2016-09-13 07:06] colinmeinke commented on #1
@lyn5466 the problem is you have a directory inside `s3` called `ghost-storage-adapter-s3`. That shouldn't be there. All the files should be copied directly to the `s3` directory.

The `cp -r ./node_modules/ghost-storage-adapter-s3 ./content/storage/s3` command should create a new directory inside `./content/storage` called `s3` and then copy all files from **inside** the `./node_modules/ghost-sto

[2016-09-13 07:10] colinmeinke commented on #1
The difference if you copy `index.js` and not the entire directory is that you won't be copying the dependencies of the library (inc. the AWS SDK).

[2016-09-13 08:36] lyn5466 commented on #1
Oh, thank you so much! Everything works fine now!

[2016-09-13 08:39] colinmeinke commented on #1
No problem 😃

[2016-12-19 18:41] pascalandy opened #5 "ERROR: We cannot find your adapter in"
Hey Colin,

Getting this error when starting ghost :

[code]

### Observation 1

About:
[code]

It's weird that the error's path is `/var/lib/ghost/storage` and NOT `/var/lib/ghost/content/storage`

### Observation 2
I see errors related to `bluebird`. Could it be possible we need to fix [this](https://github.com/kelyvin/ghost-s3-service/commit/79b7f2c981cfb183790ee57d1fb133351b6acb9a)?

This is h

[2016-12-20 08:00] colinmeinke commented on #5
Why do you think this error relates to this library?

[2016-12-20 08:17] colinmeinke commented on #5
I think your content path must be incorrectly configured. It thinks your content path is root, not '/content'. This isn't an error with this lib.

[2016-12-20 08:17] #5 closed

[2017-01-13 00:49] necevil opened #6 "ERROR: Cannot find module '../../../core/server/storage/base'"
Hey guys.
Attempting to get this module up and running inside of a docker container.

I have a reasonable amount of experience with Docker and have had a lot of luck getting a full ghost environment up and running locally (and also setup with a full ci pipeline for production).

I am running based off of the official ghost:0.11.3 image which works flawlessly without the module added.  I did a fres

[2017-01-13 08:02] colinmeinke commented on #6
Thanks for the comprehensive report!

If you have `/usr/src/ghost/core/server/storage/base.js` and `/usr/src/ghost/content/storage/s3/index.js` I don't understand why relatively requiring `../../../core/server/storage/base` from `index.js` would not work.

[2017-01-13 16:04] necevil commented on #6
Still working on this one, will let you know how it goes.
Excited to get this sorted out, looks like a great plugin.  Thanks for the efforts Colin!

[2017-01-13 18:23] necevil commented on #6
So. The first time I ran the patched version of the index.js file (with the absolute path) inside of the container I was not properly importing my ghost config file which utilized the S3 storage option (hence it ran fine).

Once I brought the ghost-s3 container up with a correct config file that utilized the S3 Storage block, I still received:

[code]

Currently working on two possibilities.
One i

[2017-01-14 20:04] necevil commented on #6
Ok it seems like this was a permissions error inside of docker.

While my container that I used to work with the project includes some specific files required for my use case anyone else who runs into a similar error should try to chown the directories associated with ghost (and / or the storage/s3 directory).

Add the following to your Dockerfile (after the point you install your S3 package):
RUN

[2017-01-15 11:45] colinmeinke commented on #6
Okay, am closing as it appears this issue isn't related to this library.

[2017-01-15 11:45] #6 closed

[2017-02-15 05:14] babatundebusari opened #8 "how can i use this when running ghost as docker container?"
i am running ghost as docker container and will like to use S3
How do i accomplish this?

Thanks

[2017-02-15 22:03] colinmeinke commented on #8
I'm not sure, I don't use docker. Maybe @necevil can give you a few pointers.

[2017-02-15 22:03] #8 closed

[2017-02-15 23:51] necevil commented on #8
@babatundebusari not too tough if you already have Ghost running and you are comfortable creating a Dockerfile and Building a fresh container yourself.

The two tricky parts are:
#1. Choosing how you want to manage downloading the module from NPM
#2. Changing the permissions on the NPM files you just added to your custom container so that they are owned by the correct user (which in the case of th

[2017-02-16 07:06] colinmeinke commented on #8
@necevil awesome response, thanks so much for taking the time!

[2017-02-17 04:15] babatundebusari commented on #8
@necevil
ok thanks..seems custom docker image is the only way
i can do that..was just trying to avoid the custom image thing

you know if ghost plan to support the external storage (like s3) as built-in soon?

[2017-02-17 18:31] necevil commented on #8
Not sure.
It's not impossible.  If I get a few minutes away from my board sports
travel startup, which actually uses all of this stuff ( shameless plug:
HTTPS://haveboardswilltravel.com ) I'll try to create a docker image that
can be used by anyone.

It is 100% possible for you to create it but figure 2-4 hours if you havent
built docker images before.
On Feb 16, 2017 11:15 PM, "babatundebusari" <

[2017-03-02 15:39] whollacsek opened #9 "this module does not work with ghost being a subapp"
Because you require the ghost storage base class by doing `../../../core/server/storage/base`, when ghost is installed as an npm module inside an express app this module does not work. [ghost-s3-compat](https://github.com/spanishdict/ghost-s3-compat/blob/master/index.js#L13) is doing `require('ghost/core/server/storage/base')`

[2017-03-07 10:56] GerardVivancos opened #10 "Add a proxy feature for images uploaded before installation of the adapter"
When the adapter is installed it works flawlessly for newly uploaded images but, of course, it does not work for pre-existing ones.

These are usually linked using relative URLs. Because of this, by using the `serve()` method, they can be served from S3 by proxying them from the bucket, provided they are copied there, without needing to edit every link on previously published posts.

We've got a P

[2017-03-07 11:00] colinmeinke commented on #10
Sounds good!

[2017-03-07 16:55] colinmeinke commented on #10
[Released](https://github.com/colinmeinke/ghost-storage-adapter-s3/releases/tag/v1.3.0). Thanks @GerardVivancos, nice work 😄

[2017-03-07 16:55] #10 closed

[2017-03-07 16:58] colinmeinke commented on #9
Hi @whollacsek. I've not used Ghost as a sub app myself, but would love a PR on this. If you can test it still works as standard, that would be great. Thanks!

[2017-03-08 00:50] krokofant commented on #9
This other s3 adapter works in my setup where ghost is used mounted in express.
https://github.com/aorcsik/ghost-s3-storage-adapter

Either migrate to that one or perhaps find some inspiration :-) It's a bit confusing with all these s3 adapters available. Hard to know which one to choose.

[2017-03-09 17:18] colinmeinke commented on #9
@krokofant not sure of the situation now, but when I created this none of the other s3 adapters supported Ghost 0.10, and the pull requests weren't being merged.

[2017-03-16 20:40] nohe427 opened #13 "Asset Host not working"
I am attempting to use assetHost to point to my cloudfront url : cloud.myDomain.com

I have tried the following URLs without luck:

cloud.myDomain.com

&

https://cloud.myDomain.com

Is there something wrong with that option?

[2017-03-16 20:44] nohe427 commented on #13
Looks to have been my own mistake.  Only new images will show on CDN URL.  My bad

[2017-03-16 20:44] #13 closed

[2017-03-17 15:29] jshimko commented on #9
One option here would be to add ghost as a local dependency for the module and then change the `require` to import the base storage class from there.  I've tested this locally and can confirm it works.  The only hassle in installing the entire ghost project to import a single class, but it at least allows you to have whatever folder structure you want outside of the plugin.

So...

[code]
And then

[2017-05-01 21:41] michaelbachmann opened #14 "Missing required key 'Bucket' in params"
Whenever I attempt to add images I get
`Missing required key 'Bucket' in params`

Config is setup as...
[code]

Console out...
[code]

Thanks for the help mate!

[2017-05-01 22:53] michaelbachmann commented on #14
Nevermind figured it out! Sorry!

[2017-05-02 07:42] #14 closed

[2017-06-20 07:06] wassimseif opened #15 "Ghost 1.0 compatibility"
Does this work on ghost 1.0 ? or any plan to support it ?

[2017-06-20 08:29] colinmeinke commented on #15
It currently doesn't. But I will definitely accept a PR when Ghost 1 is released.

[2017-06-21 20:09] wassimseif opened #16 "Ghost 0.11.10 deleting picture"
Hello. i have the adapter installed and configured. when i upload an image from the editor and file uploads to the bucket successfully, however, when i delete it, it doesn't get deleted from the bucket. is there a way to delete it automatically ? the delete function is there

[2017-06-21 20:16] wassimseif commented on #16
i put a log on the start of  the delete function but it's not getting called

[2017-06-22 07:08] colinmeinke commented on #16
Hmm, yeah I have a vague recollection that even though there used to be documentation saying that an adapter should implement a delete method, ghost didn't actually call it on delete. Will happily reopen if you can find the code that proves otherwise.

[2017-06-22 07:08] #16 closed

[2017-07-26 09:19] frippz commented on #15
It's not official yet, but [1.0 is available on Github now](https://github.com/TryGhost/Ghost/releases/tag/1.0.0) and [docs for developing custom storage modules are also available now](https://docs.ghost.org/v1.0.0/docs/using-a-custom-storage-module). 👍🏼

[2017-07-26 11:29] frippz commented on #15
@wassimseif In the meantime, have a look at this fork: https://github.com/vstabile/ghost-storage-adapter-s3. Just tested it myself and it seem to work fine.

[2017-07-26 13:07] colinmeinke commented on #15
@frippz awesome, that's good enough for me, I'm happy to accept a PR for this now! cc @vstabile

[2017-07-28 14:12] vstabile commented on #15
#17

[2017-07-30 21:46] colinmeinke commented on #15
Ghost 1 support thanks to @vstabile! - https://github.com/colinmeinke/ghost-storage-adapter-s3/releases/tag/v2.0.0

[2017-07-30 21:46] #15 closed

[2017-08-01 15:18] jpalladino84 opened #18 "TypeError: Class constructor StorageBase cannot be invoked without 'new'"
## Using:
ghost v1.2.0
ghost-storage-adapter-s3 v2.0.0

## Partial trace:
[code]
## Google:
Looks to be an issue with Babel transpilation. See https://github.com/gajus/react-css-modules/issues/196

[2017-08-02 17:43] colinmeinke commented on #9
This should work with the new release that support Ghost 1, as BaseStore is now it's own module.

[2017-08-02 17:43] #9 closed

[2017-08-02 17:51] colinmeinke commented on #18
Okay so it seems Babel cannot compile classes to ES5 that extend real ES2015 classes, which [ghost storage base](https://github.com/TryGhost/Ghost-Storage-Base) is.

I will update to compile with [babel preset env instead](https://github.com/babel/babel-preset-env) instead of the full ES2015 plugin, and target only the node versions required.

Can anybody confirm that the storage adapter always ru

[2017-08-02 19:35] #18 closed

[2017-08-02 19:41] colinmeinke commented on #18
@jpalladino84 could you try out [2.0.1](https://github.com/colinmeinke/ghost-storage-adapter-s3/releases/tag/v2.0.1) and let me know if that fixes the issue. Would also appreciate a PR of any updates to the documentation to get it up and running, if you find anything is missing.

[2017-08-03 16:10] jpalladino84 commented on #18
Tested 2.0.1 and confirmed it works! Thanks @colinmeinke!

[2017-08-10 07:45] matitalatina opened #20 "implement read method (required for favicon)"
## Steps to reproduce

* Upload an image in admin->General->Publication icon and Save. I can see correctly the image in admin panel. So the upload works as expected.
* Go to website.
* favicon.png doesn't work.
* I you go to /favicon.png it says: Error 500 - Cannot read property 'then' of undefined.

[Ghost 1.0.0 has changed favicon logic](https://themes.ghost.org/v1.0.0/docs/migrate-to-ghost-1-0-

[2017-08-10 15:20] techwes opened #21 "Region set to 'us-east-1' via Environment Variables does not work"
https://github.com/colinmeinke/ghost-storage-adapter-s3/blob/3c98506ab3ff77152cf8b92d423b97d0f3e576ff/src/index.js#L34

The last part of the || should be `` `https://s3${this.region === 'us-east-1' ? '' : `-${this.region}`}.amazonaws.com/${this.bucket}` `` instead.

I can submit a pull request to fix this or someone already set up to contribute and just make this simple change

[2017-08-10 16:23] matitalatina commented on #20
I implemented this way that method:

[code]

But now it redirects `http://site/favicon.png` to `http://site/favicon.png/` and it gives 404.

[2017-08-10 20:49] colinmeinke commented on #21
Yes please, PR away!

[2017-08-10 20:59] colinmeinke commented on #20
Would definitely love a PR for a working `read` method. I haven't touched ghost in a while, so not sure why your attempt isn't working @matitalatina

[2017-08-11 13:04] colinmeinke commented on #20
Closed by https://github.com/colinmeinke/ghost-storage-adapter-s3/releases/tag/v2.2.0

[2017-08-11 13:04] #20 closed

[2017-08-12 21:17] #21 closed

[2017-10-13 19:24] johnbarney opened #24 "Installation instructions did not work in docker container"
Example of my Dockerfile:

[code]

This Dockerfile works as long as I do not try to activate the s3 storage module.

Stacktrace when I do invoke the s3 storage module:

[code]

Example Dockerfile that I created that works using S3 storage adapter:

[code]

I'm positive this is something I am doing wrong so I'd like to get some feedback. I'm not blocked as I got it working.

Thanks

[2017-10-16 20:19] johnbarney commented on #24
It was indeed an issue on my end. The Docker container does some interesting things with the content folder. Using my workaround seems to be the only sane thing to do for the moment. Closing thread.

[2017-10-16 20:19] #24 closed

[2018-01-21 01:04] rkarroll opened #25 "Prepending of blog url to assethost."
I don't think this is necessarily an issue with your plugin but I figured I'd check if you had experience with it.  I am using cloud front in front of S3 for my image hosting.  The images are uploading fine but in the actually ghost story it's prepending the url of my blog to the assethost url.

For example say the asset host URL is "xxxxx.cloudfront.net/2018/01/image.png" for a particular image a

[2018-01-21 18:31] rkarroll commented on #25
So my issue was that I actually had to set the asset host to //xxxxx.cloudfront.net.  Ok if I submit a PR to update the documentation on that?

[2018-01-21 19:17] colinmeinke commented on #25
Please do! :)

On Sun, 21 Jan 2018, 15:31 rkarroll, <notifications@github.com> wrote:

--
–
Colin Meinke

[2018-01-31 02:13] mfratz8686 opened #27 "Error when deploying to Heroku in production"
Getting the following error when deploying on Heroku:

Unhandled rejection TypeError: _awsSdk2.default.config.setPromisesDependency is not a function
2018-01-31T01:45:37.615073+00:00 app[web.1]:     at new Store (/app/content/adapters/storage/s3/index.js:39:29)
2018-01-31T01:45:37.615074+00:00 app[web.1]:     at Object.getStorage (/app/node_modules/ghost/core/server/adapters/storage/index.js:72:21

[2018-02-14 11:36] colinmeinke commented on #27
@mfratz8686 did you figure this out?

[2018-02-14 16:46] mfratz8686 commented on #27
Yes I did. Thanks.

[2018-02-14 16:46] #27 closed

[2018-02-26 08:30] etanb opened #30 "Cannot Get Past: NAME: IncorrectUsageError"
Hi,

I've been attempting to use the `ghost-storage-adapter-s3` with my Ghost / Docker implementation and cannot get past the following error:

[code]

My dockerfile looks as follows:

[code]

[2018-02-26 16:46] colinmeinke commented on #30
Maybe @johnbarney can help you? Not sure if this is relevant https://github.com/colinmeinke/ghost-storage-adapter-s3/issues/24

[2018-02-26 19:59] etanb commented on #30
Looks similar! My current workaround is to just place it directly into: `RUN mv $paths__contentPath/themes/PlaidBlog/node_modules/ghost-storage-adapter-s3 /var/lib/ghost/versions/1.20.3/core/server/adapters/storage/s3`

[2018-02-26 20:12] etanb commented on #30
@colinmeinke I'm getting this error now:

`TypeError: _awsSdk2.default.config.setPromisesDependency is not a function`

Any idea how to get by this?

[2018-02-26 20:14] etanb commented on #30
This seems like a relevant thread: https://github.com/aws/aws-sdk-js/issues/1076

[2018-02-27 20:57] johnbarney commented on #30
Hi @etanb,

What I've done is to create two Dockerfiles. One for local testing, and one for deployment.

Dockerfile
[code]

Dockerfile.prod
[code]

My build function is as follows:

build.sh
[code]

I may have over-engineered my solution but I stopped at *working*. I hope this helps!

John B.

[2018-03-02 00:31] colinmeinke commented on #30
@johnbarney thanks for the reply! @etanb did that help?

[2018-03-02 23:37] etanb commented on #30
I just use a `docker-compose.yml` file for local.

I'm not sure that was even the issue I was experiencing. The weird way my issue was fixed was by actually adding the compiled module to my repo which includes running `npm install` && `npm run build`.

[2018-03-03 00:07] #30 closed

[2018-03-03 17:38] danhigham commented on #27
@mfratz8686 Can you share how you fixed the issue, I am seeing the same.

[2018-03-04 21:59] mfratz8686 commented on #27
@danhigham I am not sure I remember what the issue was exactly. I think it was due to the fact that I had run the initial setup of the database on my local machine but had not run it on the database in Heroku. I found this in the readme I had setup for the project:

<img width="638" alt="screen shot 2018-03-04 at 4 57 54 pm" src="https://user-images.githubusercontent.com/30666927/36951094-4f6934be

[2018-03-14 22:54] geelakey opened #32 "Using adapter with a bucket that is private"
I am unable to view the images when connecting to a private bucket. The image gets saved in the bucket just fine, but when viewed in browser I can only see the broken image icon. Copying the image path into the browser I get the following error:

<Code>InvalidArgument
<message>Requests specifying Server Side Encryption with AWS KMS managed keys require AWS Signature Version 4.</message>
</Code>

D

[2018-03-25 15:51] colinmeinke commented on #32
Sorry, I don't. What's the use case? If the blog is publicly accessible, then why isn't the bucket? Closing as I don't think there is a valid reason for this to exist. Will re-open if you can convince me otherwise 😄

[2018-03-25 15:51] #32 closed

[2018-04-05 05:16] ulm0 opened #33 "PathStyle for s3-like storages"
Hi, I'm trying to setup this adapter in order to use it with Minio as object storage. Thing is Minio uses path style for storing objects. Unlike s3, which uses `bucket.domain.com` Minio one is `domain.com/bucket`

would it possible to use a path style setting in this adapter as well?

[2018-08-04 18:52] dotronglong opened #37 "PathPrefix when serving"
Hi all, I see a problem that if I use `pathPrefix` in configuration, I might not access my current images, although I uploaded them to my proposed folder on S3 already.

For an instance, I create a bucket `long.do` and a folder inside that bucket as `ghost`, then in serving mode it ignores my `pathPrefix`, hence, server returns 404.

Could I make a pull request for it? Btw, my solution is adding `

[2018-08-22 12:59] colinmeinke commented on #37
Thanks! Closed by 133c7a42e8a6775f3cc03be8ac460260fd6f20a6

[2018-08-22 12:59] #37 closed

[2018-08-22 13:00] colinmeinke commented on #33
@Ashald sorted this in e811880aa9458f52fb7e8dae9fa4f088e6f97828, thanks for the issue!

[2018-08-22 13:00] #33 closed

[2018-08-24 08:06] yuhr123 opened #39 "It seems not working on Ghost 2.x"
I have tried to config this adapter on Ghost 2.x, but can not start Ghost service if I add "storage" related info into the `config.production.json` file.

[2018-08-24 08:26] yuhr123 commented on #39
Try on Ghost 1.x it is not working too.

[code]

When I execute `ghost restart`:
[code]

The log content:

[code]

[2018-08-25 16:51] #39 closed

[2018-08-26 22:13] NotMyself commented on #39
Hey, @yuhr123 you closed this issue but didn't say how you fixed it. Can you point me in the right direction?

[2018-08-28 15:47] frippz commented on #39
Hey, @NotMyself. I stumbled across [this blog post](https://it.ismy.fun/2018/08/26/ghost-custom-storage-module/) and gave it a go. I actually seems to be working just fine. The blog post seem to be in Chinese, but Google Translate will help you out there. 😉

Good luck, mate!

[2018-09-04 15:39] NotMyself commented on #39
Thanks, guys. I was able to get it to work for me as well.

[2018-11-29 19:04] benjamin-maynard opened #43 "Support for AWS4-HMAC-SHA256"
Hi,

Firstly thanks for authoring this adapter. Really is great.

When I was deploying this earlier for my blog, I created an S3 Bucket in eu-west-2, which is the London Region. As per https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region, this S3 region only supports the latest Version 4 signature.

When configuring the ghost-storage-adapter-s3 plugin to point to this S3 endpoint, im

[2018-11-30 08:53] colinmeinke commented on #43
@benjamin-maynard what does your config look like?

[2018-11-30 09:02] benjamin-maynard commented on #43
@colinmeinke

Running in Kubernetes, but just the following environment variables:

The exact same config works in eu-west-1, but not eu-west-2

[code]

[2018-12-18 21:17] necevil opened #44 "Ghost 2.x + Storage Adapter not using CDN URL?"
Hey guys,
So this one is weird, and a non-standard use case.
I am hoping I am missing something simple here as I have more than a few hours into this (after previously quickly running through and adding S3 storage adapter on earlier ghost versions).

I had previously been running a ghost 0.11.x install with S3 storage adapter baked in to the docker file (essentially just added as you normally woul

[2018-12-20 22:22] necevil commented on #44
OK so as you might imagine this ended up being a few different issues stacked together.
The first one was an issue with my Paths configuration.  In order to make the /var/lib/ghost/content host my files I needed to change my configuration for my paths to an absolute path within the container:

[code]

The next piece that needed to be resolved was the fact that the default description in the docume

[2018-12-20 22:36] necevil commented on #44
Ok the last piece of this is now solved.
Basically for whatever reason I needed to ALSO add the pathPrefix set to "" in order to remove the additional slash.  After that everything worked.  My final configuration looks like:

[code]

I think that's about it.  Hopefully it helps out someone working to create a custom Ghost 2.x docker container that also includes ghost-storage-adapter-s3.

[2018-12-20 22:36] #44 closed

[2019-01-16 19:59] AMD-NICK commented on #43
the same issue

[2019-01-31 09:31] colinmeinke commented on #43
Support added in https://github.com/colinmeinke/ghost-storage-adapter-s3/pull/45

[2019-01-31 09:31] #43 closed

[2019-03-04 17:51] zackdotcomputer opened #46 "Documentation Issue: "GetBucket" is not a policy action"
In the AWS configuration section of the README, you say we should use the Policy Generator to give the bucket the "GetBucket" action, but that isn't an option on AWS. There are many "GetBucket_____" options, but it's not clear which ones should and should not be granted.

[2019-03-06 11:47] connorphill opened #47 "Ghost 2.x S3 AccessDenied"
### Debug Information:

- OS: Ubuntu, v18.04
- Node Version: v8.10.0
- NPM Version: 3.5.2
- Ghost-CLI Version: 1.9.9
- Ghost Version: 2.16.3
- Environment: production

I have run into a very strange bug that I can't figure out the source of, that was never the problem with a ghost instance I built a few months back.

### Setup

I followed the steps of documentation, as well as this commonly refere

[2019-03-07 01:27] connorphill commented on #47
I discovered that this was an issue that was related to my bucket policies and not the package

[2019-03-07 01:27] #47 closed, assigned to nobody

[2019-03-08 12:28] joakimkm opened #48 "Image only exist on urlencoded slashes"

[2019-03-08 14:11] #48 closed, assigned to nobody

[2019-03-09 10:08] graemec23 commented on #46
I have also run into it, not sure what to use

[2019-03-09 10:44] colinmeinke commented on #46
@christianreed do you have any thoughts on this?

[2019-03-09 16:22] NaxAlpha commented on #46
Same here

[2019-03-09 18:31] zackdotcomputer commented on #46
In the end, I wound up not needing to do the Policy Generator step because I used CloudFront as my CDN. However, before I went that route, I was able to just give my IAM for the adapter the following roles and get things working:

[code]

One thing I ran into that should also be noted in the README is that: even if you give your blog these permissions and allow public ACL's on your S3 bucket, if y

[2019-03-09 18:32] zackdotcomputer commented on #46
Note that in this IAM policy we have both the `ListBucket` action on the bucket itself, and the `GetObject` action on the items in the bucket. I'm assuming one (or both?) of these is what was intended by the `GetBucket` permission in the README, which does not itself appear to exist.

[2019-03-26 03:19] Rovel opened #49 "anyone using this on docker alpine?"
I'm having some issues when trying to install this on docker alpine, any tips?

[code]

Dockerfile:

[code]

[2019-03-28 09:11] peterbrinck commented on #47
@connorphill what policies did you change/add?

[2019-04-26 22:57] Albert-Henk opened #50 "'We have detected an error in your custom storage adapter.'"
I can't seem to my storage adapter working. Whenever I run 'ghost start' I get an error message saying there's an error in my custom storage adapter.

![ghost-start](https://user-images.githubusercontent.com/6523171/56840257-e6499880-6886-11e9-804b-b03bd1c0cc9d.PNG)

This is my config:
(I have already tried several things like adding or removing signatureVersion and pathPrefix)

![config](https://

[2019-04-30 18:28] spmurrayzzz commented on #49
@Rovel I ran into a similar issue and discovered the root cause. In the `Dockerfile` they specify the `content/` path as a `VOLUME` mount point (https://github.com/docker-library/ghost/blob/master/2/alpine/Dockerfile#L59)

Removing this line fixes the issue (in my case, I just built my own image after forking)

Edit: forgot to note _why_ this happens. Whenever a volume is declared in a Dockerfile,

[2019-05-23 02:12] danielthank commented on #46
@genuinezack Same here. With just IAM set up, it just works!

[2019-07-18 20:15] Rovel commented on #49
So @spmurrayzzz does this works 100% since the content volume is not in the docker image, probably you will face some problems with saving configs, themes and stuff. did you?

An alternative is to run the container passing the volume path in the docker run after the image is built.

I had some doubts around the use of nginx and ssl config with ghost docker images the scripts that are built in to m

[2019-07-18 20:18] spmurrayzzz commented on #49
Our docker image/container is completely stateless. We run a dozen or so copies of ghost behind a load balancer, and all the content we store (imgs, etc) are synced to s3 via custom storage adapters (https://docs.ghost.org/concepts/storage-adapters/)

[2019-08-16 13:40] Rahulsharma0810 commented on #49
@spmurrayzzz Can you share your working dockerfile with s3 and entrypoint.sh, I am not able to get it working even after removing your mentioned line.

[2019-08-16 15:44] spmurrayzzz commented on #49
@Rahulsharma0810 I should have used the commit hash url (the file has changed over time so line numbers no longer match up). But essentially would need to remove the `VOLUME` declaration in the Dockerfile if you plan to make changes to that particular path.

[2019-10-12 06:19] #46 closed, assigned to nobody

[2019-10-14 18:05] acim opened #60 "Does this work with the current Ghost version (2.37.0)?"
It would be nice if yes :)

[2019-10-14 20:28] skj-dev commented on #60
FWIW, I just checked with my recently updated instance. I made a new draft post, dropped an image in it, and verified that it got created in the site's S3 bucket and the corresponding URL pointing to the image worked.

It's only anecdotal, but it's a 👍 based on a tire kick. 😎

[2019-10-14 22:05] acim commented on #60
Great, thank you 😊

[2019-10-14 22:05] #60 closed, assigned to nobody

[2019-10-19 01:12] jwerre opened #61 "Allow IAM Roles"
It would be nice if we could create and IAM Role and attach it to the Ghost server. I tried this and got an `InternalServerError: Access Denied`

[2019-11-14 22:57] MCTaylor17 opened #62 "Potential problem on stripEndingSlash function"
## Problem
Note the following code found in /src/index.js

[code]

The expression `s.indexOf("/")` returns the first index in the string.  That means `stripEndingSlash` will only strip ending slashes from strings with exactly one slash.  A string containing two slashes will return with the trailing slash still in place.

## Example
Consider the following cases:
[code]
[code]

## Suggestion
You cou

[2020-03-02 13:54] anazhd opened #66 "Duplicate file"
Hi,

So everytime I upload a picture, I see 2 files in my bucket. One is the original picture with __o._ suffix, and the other one is the optimized version I guess without suffix.

I'm trying to figure out how to modify, either

1. No optimization at all, just the original picture
2. Auto delete __o._ file after upload

But I couldn't figure out the part where this thing happens. I'm using the def

[2020-03-18 00:17] eugeneniemand opened #67 "Private Bucket/ACL works for images in post but not for Featured Images"
My ACL/Bucket is private and so is the blog

When I upload a picture using the settings on the right it uploads the image to spaces but does not load/display the image
![image](https://user-images.githubusercontent.com/6813309/76912963-8ba99880-68ad-11ea-9885-7a78ca937ce5.png)
![image](https://user-images.githubusercontent.com/6813309/76912994-a7ad3a00-68ad-11ea-9034-f4ba1c1b1b3b.png)
however addi

[2020-03-18 15:25] phuchptty opened #68 "file's path in name instead of folder"
![image](https://user-images.githubusercontent.com/13364457/76976657-d89d7580-6966-11ea-8388-2ad1edd39416.png)

path of them is in their name instead of the folder. And when images are accessed on-site it said 404

[2020-05-15 22:39] dwene opened #70 "Access Denied for upload every time."
I can't seem to upload any new images to S3, no matter what permissions I give my IAM user, I always get:

[code]

Here's my config (without access key).

[code]

Can anyone spot what I'm doing incorrectly?

[2020-05-18 23:47] dwene commented on #70
I changed bucket and now it works... fishy. Maybe there's something that doesn't like the `-` in my bucket name. Either way, closing for now.

[2020-05-18 23:47] #70 closed, assigned to nobody

[2020-06-15 15:48] kwyn commented on #49
@spmurrayzzz is correct. I got the docker build working but once I deployed with environment variables the aws-sdk kicked back an error at me. Unfortunately it's very difficult to debug since the version for the aws-sdk is not pinned so it's unclear which version of the aws sdk I installed. I'd suggest to the author that they pin their versions especially for a library like this.

[2020-06-24 15:09] ghost opened #71 "Why are there two versions of my image in s3 bucket?"
Dear Sir/Madam,

I want to ask why I get two versions of image (one with original file name and the other with added "_o").  Is it caused by the adapter or one of the amazon services?  Thanks in advance.

BR,
Andy

[2020-06-28 17:40] swastikmishra opened #72 "Files not being uploaded to S3"
Even though all the config were correct and the s3 folder was there in the content/adapters/storage, files weren't uploaded to S3, instead were uploaded to local.

[2020-06-28 17:42] swastikmishra commented on #72
I fixed the issue by copying node_modules/* (excluding ghost-storage-adapter-s3 folder)  into content/adapters/storage/s3/node_modules/.

```cp -R node_modules/* content/adapters/storage/s3/node_modules/.```

[2020-07-07 22:01] KingLemon opened #74 "S3 Query-string order seems incorrect"
Ghost-storage-adapter-s3 is pushing the url "bucket.region.s3.amazonaws.com" to the browser and the images are not returning on the site from s3 properly. When I enter that url format directly into the browser I'm getting an error -code "nosuchbucket" -message "the specified bucket does not exist". It seems like if "s3" and "region" are reversed in the string, the images pull up, however I can't f

[2020-07-29 13:02] cyrilgandon commented on #71
It seems to come by default by Ghost

https://ghost.org/docs/concepts/config/#image-optimisation

[2020-08-24 22:09] konstantinvlasenko opened #75 "IMAGE_SIZE_URL statusCode 403"
Hi everyone,
Seems like I am doing something wrong. But can't figure it out. Getting error below when I try to start Ghost (if adapter enabled).
Any help appreciated!

**Environment:**

- AWS ECS (Amazon Linux 2)
- Instance IAM Role has S3 Full Access
- Bucket exists (but empty)

**Config:**
`"storage": {
    "active": "s3",
    "s3": {
      "bucket: "my-bucket",
      "pathPrefix": "test"
    }`

[2020-08-24 22:13] konstantinvlasenko commented on #74
@KingLemon try to use **assetHost** configuration. I see the main intent is to use it for CDN (CloudFront).
But I think you can set your bucket url **//bucket-name.s3.region.amazonaws.com** there as well.
BTW: Ideally, you want to use CloudFront.

[2020-08-24 22:17] konstantinvlasenko commented on #61
@jwerre I think it should work https://github.com/colinmeinke/ghost-storage-adapter-s3/commit/164c6aa63eaa50be90f8f646a357ce448814465a
Probably, issue should be closed.

[2020-11-01 15:55] shrmaky commented on #75
Hi @konstantinvlasenko which version of ghost are you using & what is your S3 implementation looks like?

[2020-12-15 06:26] sudo8com opened #82 "Does this work for Ghost 3?"
I am getting access denied when connected to S3 and CloudFront

Error ID:
ghost_1     |     ba4e8df0-3e9d-11eb-875f-3bf6d4f677d6
ghost_1     |
ghost_1     | Error Code:
ghost_1     |     AccessDenied
ghost_1     |
ghost_1     | ----------------------------------------
ghost_1     |
ghost_1     | InternalServerError: Access Denied
ghost_1     |     at new GhostError (/var/lib/ghost/versions/3.40.1/

[2020-12-22 17:33] iozz commented on #82
Same for me.

[2021-01-06 19:36] afern247 commented on #82
Can anyone from the dev team confirm if this works for Ghost 3? Or is there another compatible repo?

[2021-01-21 16:22] delaudio commented on #82
same here

[2021-01-21 16:58] afern247 commented on #82
It's funny how the official Ghost docs mention this and it's so out of date... 🤯

[2021-01-21 18:36] iamtk commented on #82
I've had this working using the latest version of Ghost v3 (edit: 3.40.5), although I'm using Digital Ocean's spaces S3 compatible object storage.

[2021-01-25 16:02] delaudio commented on #82
I was able to use it with ghost 3.40.5. It was my fault, I'm new with ghost and I was trying to use it in docker environment with a minIO s3. It wasn't clear to me how and where to install it from the docs. I adapted the steps from https://github.com/robincsamuel/ghost-google-drive and it worked.

[2021-02-02 11:09] sudo8com commented on #82
is there going to be any updates or anyway I can integrate ghost with s3 & cloudfront?

[2021-02-18 18:08] iFloris opened #83 "Possible issue using custom s3 endpoint (wasabi)"
Hello,

We are trying to use this adapter with a number of Ghost blogs in order to deploy them in a cluster. This seemed to work great!
However, upon further testing, it appears that all images are referencing `amazonaws.com`, despite having set
[code]
inside config.production.json.
Images are correctly uploaded to the wasabi bucket, but they are not showing in the web views because the links look

[2021-03-17 23:43] peterjaffray commented on #67
I'm having this problem right now too.

I can connect "aws s3 cp local.file remote.file"  and the credentials are exactly the same in my config.  I've been at it for a couple days now and could use a hand.  If I figure something out, I'll let you know.

[2021-03-18 23:42] eugeneniemand commented on #67
Thanks I've ran out of time when trying to help a friend. May have to look at this again in the future so if you find a solution that would be great thanks

[2021-03-26 12:46] apavamontri commented on #82
I was able to get this to work with Ghost version `3.41.6`. I have S3 bucket setup as an origin to CloudFront + custom SSL. I turned on CloudTrail Data Event on S3 bucket and got access logs and found out that when I uploaded image. It made two calls.

1) `GetObject` to check if image exists. This call returns `NoSuchKey` error if it is a new image.
2) `PutObject` to upload image.  This call set `

[2021-04-27 03:42] shyamvyas5 commented on #66
It comes by default from ghost, but you can disable it.
https://ghost.org/docs/config/#image-optimisation

[2021-05-10 16:17] booleanhunter commented on #82
@colinmeinke This worked for me. It would be great if we can add some more details in the documentation about what `acl` does please?

[2021-06-17 09:35] saharshMMC commented on #82
Was able to make it work with latest version as well. I am using helm to deploy and manually add the adapter files.
[code]

[2021-09-29 11:17] rkafp commented on #68
This happened to me too. Is there any solution?

EDIT:

After several hours of analyzing and trying to rewrite the code of this library. I got the answer, I think the original code in this repository will have that problem if You run it on Windows (Local Install)

[2022-02-21 06:31] luisda0 commented on #82
It worked for me too, as @booleanhunter  said, it would be nice to add more detail about this in the documentation

[2022-03-22 09:22] iFloris opened #92 "RFE: add support for other file types"
Hello @colinmeinke I have been using your storage adapter with my ghost blog for some time now, and it has been working really great in combination with Wasabi.
Recently, Ghost added the (long requested) option to attach files, videos and audio to a post or a page. But the S3 adapter currently only looks for image types.
Hence this request for enhancement:
I think it would be super helpful if your

[2022-03-23 12:05] PavloPI commented on #92
HI @iFloris . I faced the same issue as you. It looks that Ghost added more adapters for storage - LocalFilesStorage and LocalMediaStorage . So after updating config it started working for me with this adapter:

[code]

Hope it will help.

[2022-03-23 13:00] iFloris commented on #92
Hey @PavelPV thanks a lot! I will give that a try and update this comment.

Update: Yes, that does seem to work great! That's way easier than I thought it would be.

Perhaps that should be added to the readme @colinmeinke?
Regardless, I will close this issue.

[2022-03-23 13:57] #92 closed, assigned to nobody

[2022-03-23 13:57] #83 closed, assigned to nobody

[2022-04-20 09:10] meons opened #95 "Update documentation"
I created PR https://github.com/colinmeinke/ghost-storage-adapter-s3/pull/94 in order to update the doc.

In short, GetObject should be used for public access. See https://docs.aws.amazon.com/AmazonS3/latest/userguide/WebsiteAccessPermissionsReqd.html

[2022-05-14 16:17] jimzcc commented on #82
i'm using the bitnami ghost stack, with stack version = "4.44.0-0", not working for me, after modifying the config file, ghost does not even start.

[2022-05-29 10:35] lakshminarasimmanv commented on #82
it works, but you gotta do some modifications.

[2022-06-01 06:46] rkafp opened #98 "Presigned URLs"
How to generate presigned URLs when files are uploaded?

[2022-07-13 14:23] bird-in-hat opened #100 "Ghost 5 Dockerfile"
I found out it works with ghost 5, but we have to upgrade packages aws-sdk and ghost-storage-base
[code]

[2022-07-21 13:29] mnebuerquo commented on #72
Could this be done with a symlink instead? What about in a npm post-install hook?

[2022-07-22 13:57] mnebuerquo commented on #100
I'd add this to the end of your Dockerfile, because I was missing this and the default config doesn't enable the adapter:
[code]

That cost me a few hours. The readme documents the other environment vars for the adapter configuration, as well as the config showing `storage.active` field. But unless you specifically overwrite the default config in the Dockerfile to add `storage.active`, your adapte

[2022-07-24 03:46] swastikmishra commented on #72
I haven't tried it, but I guess that should work.

[2022-07-30 02:15] parkerproject commented on #14
@michaelbachmann how did you figure this out cos I am having the same issue since upgrading to Ghost 5

[2022-08-19 09:22] lakshminarasimmanv commented on #100
Thanks! This works for me!

[2022-10-12 11:53] dm3ch opened #101 "[Feature request] Add support of AWS Assumed Roles (IRSA)"
For some of environments (like hosting in EKS) it would be very useful to support IRSA auth.

To do that it's needed to update AWS SDK to at least 3.27.0 version - https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2022-10-25 08:19] syedmhashim commented on #101
+1